html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

}



.demo {
  height: 100px;
  width: 100px;
  background: gray;
  display: inline-block;
  margin: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}


